/* Table of contents 
-----------------
1. General
2. Navbar 
3. Banner
4. About
5. Menu
6. Offers
7. Review
8. footer 
----------------
 */

/* General  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Background Color  */
  --primary-color: #2a7fba;
  --secondary-color: #333333;
  --bg-black: #222222;
  --bg-dark: #222222;
  --bg-white: #fff;
  --bg-gray: #3a3e41;

  /* Text color  */
  --primary-text:  #2a7fba;
  --text-white: #fff;
  --text-black: #222222;
  /* font family  */
  --primary-font: 'Ubuntu', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}

body {
  font-family: var(--secondary-font);
  background-color: var(--bg-white);

}

a {
  text-decoration: none;
}

/* Custom Css */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

section {
  padding: 100px 0;
}

.main-btn {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 27px;
  border: 1px solid var(--primary-color);
  color: var(--primary-text);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-in;
}

.main-btn:hover {
  color: var(--text-white);
  background-position: left bottom;
}

h1 {
  font-size: 80px;
  line-height: 1.2;
  font-weight: 400px;
  color: var(--text-black);
  margin-bottom: 20px;
  font-family: var(--primary-font);
}

h1 span {
  color: var(--primary-text);
}

h2 {
  font-weight: 700px;
  font-size: 35px;
  margin-bottom: 15px;
  color: var(--text-black);
  font-family: var(--primary-font);
}

h3 {
  font-weight: 700px;
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--text-black);
  font-family: var(--primary-font);
}

h5 {
  font-weight: 700px;
  font-size: 20px;
  color: var(--primary-text);
}

p {
  color: var(--text-black);
  font-size: 18px;
  line-height: 1.7;
  font-weight: 300px;
}

/* 2 Navbar  */
.header_wrapper .navbar {
  padding: 15px 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.header_wrapper span{
color: var(--primary-color);
font-size: 500;
}
.header_wrapper .navbar-brand img {
  max-width: 70px;
  height: auto;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 1px;
  color: var(--text-black);
  display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: var(--primary-text);
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  background-color: var(--bg-white);
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

/* 3 Banner  */
.banner_wrapper {
  padding-top: 100px;
}

.banner_wrapper .top-menu .card {
  height: 275px;
  overflow: hidden;
  cursor: pointer;
}

.banner_wrapper .top-menu .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms ease;
}

.banner_wrapper .top-menu .card:hover img {
  transform: scale(1.1);
}

.banner_wrapper .top-menu .card {
  height: 200px;
}

/* 4 About  */
.about_wrapper {
  background-color: var(--bg-gray);
  padding-bottom: 130px;
}

.about_wrapper .card {
  z-index: 10;
  right: 12%;
  top: 20%;
}

/* 5 menu_wrapper */
.menu_wrapper {
  width: 100%;
  height: auto;
  background-image: url(../images/doc-patient-banner.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--bg-dark);
}

.menu_wrapper .row {
  padding-top: 200px;

}

.menu_wrapper .card {
  background-color: var(--secondary-color);
}

.menu_wrapper .card h3,
.menu_wrapper .card p {
  color: var(--text-white);
}

.menu_wrapper .card h3 span {
  /* background-color: var(--primary-color); */
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  /* border-radius: 50%; */
}

/* 6 offers */
/* .offers_wrapper .card {
  height: 100%;
  min-height: 260px;
  box-shadow: 0 016px 4px var(--bg-dark-blue);
  background-position: 50% 50%;
  background-size: cover;
}

.offers_wrapper .card .offer-text {
  width: 50%;
  height: 100%;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.offers_wrapper p{
padding: 0 0 0 19px;
}
.offers_wrapper i{
padding: 9px 0 0 0;
}
 





/* 7 review  */
.review_wrapper {
  width: 100%;
  height: auto;
  background-image: url(../images/review-banner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.review_wrapper .carousel-item {
  min-height: 500px;
  height: 100%;
}

.review_wrapper .carousel-item img {
  width: 65px;
  margin-bottom: 20px;
}

.review_wrapper .carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.10);
}

/* 8 footer  */
.footer_wrapper {
  background-color: var(--bg-white);
  padding: 20px 0;
}

.footer_wrapper .footer-logo img {
  width: 70px;
}

.footer_wrapper .social-icon li {
  margin: 6px;
}

.footer_wrapper .social-icon a {
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid var(--bg-black);
  color: var(--text-black);
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
}
.footer_wrapper .social-icon a:hover{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 /10%);
  transform: translateY(-3px);
}
.footer_wrapper .copyright-text p {
  font-size: 11px;
  line-height: 20px;
  font-weight: 600;
}
.footer_wrapper .copyright-text a {
  color: var(--primary-color);
}